body {
  background-color: #fafafa;
  color: rgba(38,38,38,0.7);
  margin: 0;
  padding: 0;
}


h1 {
  margin: 0;
  padding: 0;
  
}

.Header {
  background-color: white;
}


.Header-container {
  display: grid;
  grid-template-columns: minmax(auto, 936px);
  justify-content: center;
  border-bottom: 1px solid rgba(38,38,38,0.7);
}

.Header-content {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1em;
}

.Header ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.Header li {
  display: inline-block;
  margin: 0 0 0 1em;
}

.Header h1 {
  color: rgb(56, 48, 48);
  font-size: 350%;
  font-family: 'Grand Hotel', cursive;
}

.Main_container {
  display: grid;
  grid-template-columns: 3fr 1fr;
  grid-gap: 2em;
  padding: 2em 0;
}

.picture_container{
  border: 1px solid rgba(219, 219, 219, 1);
  border-radius: 6px;
  background-color: white;
  margin: 0 0 6em 0;
}


.card_header {
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.foto_container{
  display: grid;
 
}
